@import 'theme';

.content{
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: $content-width;
    margin: 0 auto;
    top: $head-height;
    align-items: center;

    @media screen and (max-width: $media-break1) {
        width: 100%;  
    }
}
