@import 'theme';
@import 'quicksand-font';


$detail-header-height: 1.35rem;


.data-card-deck{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 2rem);
    width: 100%;
    background-color: $fifth-color;

    ul{
        margin: 1rem;
        padding: 0;

        @media screen and (max-width: $media-break1) {
            margin: 0;
        }
    }

    .data-card{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        margin: 0.5rem 10vw 0.5rem 10vw;
        padding: 0.2rem;
        border-radius: 0.2rem;
        font-family: Quicksand;
        width: $content-width - 10;
        list-style: none;
        background-color: $third-color;

        @media screen and (max-width: $media-break1) {
            margin: 0.5rem 2px 0.5rem 2px;
            width: 90vw;
        }

        .detail-button{display: none;}

        .detail-button + .detail-button-view{
            position: relative;

            .data-card-display{
                position: relative;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                justify-items: center;

                h2{ 
                    margin: 0;
                    padding: 0;
                    line-height: $head-height;
                    font-size: 0.75rem;

                    @media screen and (max-width: $media-break2) {
                        font-size: 0.6rem;
                    }
                }

                .spot-values{
                    right: 0;
                    position: absolute;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: $head-height;
                    text-align: center;
                    
                    h3, h4{
                        margin: 0;
                        padding: 0;
                        vertical-align: middle;
                        line-height: $head-height / 2;
                    }

                    h3{ 
                        font-size: 0.7rem; 

                        @media screen and (max-width: $media-break2) {
                            font-size: 0.6rem;
                        }
                    
                    }
    
                    h4{
                        font-weight: 300;
                        font-size: 0.5rem;

                        @media screen and (max-width: $media-break2) {
                            font-size: 0.4rem;
                        }
                    }
                }

                img{
                    height: $head-height;
                    width: $head-height;
                    padding-right: 0.5rem;
                }
            }

            .data-card-detail{
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                height: 0;
                overflow: hidden;
                transition: all 0.5s;
                position: relative;

                .detail-header{
                    position: absolute;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    width: 100%;
                    border-bottom: solid 1px #000;
                    height: $detail-header-height;

                    h4{
                        position: absolute;
                        font-weight: 300;
                        font-size: 0.5rem;
                        height: 1rem;
                        line-height: 1rem;
                        padding-left: 5px;
                        left: 0;
                        bottom: 0;
                        margin: 0;

                        @media screen and (max-width: $media-break2) {
                            font-size: 0.5rem;
                        }   
                    }

                    .tab-bar{
                        height: 1rem;
                        position: absolute;
                        right: 0;
                        padding-right: 0.5rem;

                        .tab-button{
                            display: inline-block;
                            background: none;
                            background-color: none;
                            border: none;
                            outline: none;
                            font-family: Quicksand;
                            font-weight: 500;
                            font-size: 0.6rem;
                            height: 1rem;
                            margin: 0;

                            @media screen and (max-width: $media-break2) {
                                font-size: 0.5rem;
                            }                            
                        } 

                        @media screen and (max-width: $media-break2) {
                            padding-right: 0.1rem;
                        } 

                        .active{
                            border-bottom: solid 4px #000;
                        }
                    }
                }

                .detail-content{
                    position: absolute;
                    padding: 0.5rem;
                    top: $detail-header-height
                }
            }

            @media screen and (max-width: $media-break1) {
                width: 100%;
            }
        }

        // makes spot details visible
        .detail-button:checked + .detail-button-view{
            .data-card-detail{
                height: 40vh;
            }
        }
    }
}